<a href="https://colab.research.google.com/github/palienko105/Projects/blob/main/dump_and_example_CTE_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = float('nan')
b = 9999

In [ ]:
a = [5,2,3]
sorted(a)

[2, 3, 5]

In [ ]:
a == float('nan')

False

In [ ]:
#n - Количестов строк, m - количество столбцов
#функция
def peremest(mas, x,y):
  for elem in mas:
    elem[x],elem[y] = elem[y],elem[x]
  return mas
#

n,m = [int(i) for i in input().split()]
a = [[int(j) for j in input().split()] for i in range(n)]
i,j = [int(elem) for elem in input().split()]

peremest(a, i,j)
for elem in a:
  print(' '.join([str(i) for i in elem]))

2 3
11 22 33
11 22 33
0 2
33 22 11
33 22 11

In [ ]:
n = [int(i) for i in input().split()]
n

22        55                 4 1

[22, 55, 4, 1]

In [ ]:
#На самом деле переменная в python является лишь ссылкой на объект в памяти. 
#При создании любой переменной (число, строка или массив) в неё записывается ссылка на объект, а сам объект находится где-то в оперативной памяти далеко от самой переменной со ссылкой. 

x = [[11,22,33],[44,55,66]]
elem = x[0]
print(elem, ' id(elem)=', id(elem), '  id(x[0])=', id(x[0]))
x[0] = [5555,6666]
elem = x[0]
print(elem, '  id(elem)=', id(elem))
#print(x)
#print(x[0], '      ', elem)
#print(id(x[0]), '      ', id(elem))

[11, 22, 33]  id(elem)= 139702881065920   id(x[0])= 139702881065920
[5555, 6666]   id(elem)= 139702646642752

In [ ]:
a=b=c=[1,2]
id(a), id(b), id(c)

(139702647072064, 139702647072064, 139702647072064)

In [ ]:
a = [1,2]
b = [1,2]
id(a) == id(b)

False

In [ ]:
[1,2] == [1,2]

True

In [ ]:
a = 'ab'
b = 'ab'

id(a) == id(b)

True

In [ ]:
a = [1,2,3]
b=map(str,a)
tuple(b)

('1', '2', '3')

In [ ]:
aquarium_creatures = [
	{"name": "sammy", "species": "shark", "tank number": 11, "type": "fish"},
	{"name": "ashley", "species": "crab", "tank number": 25, "type": "shellfish"},
	{"name": "jo", "species": "guppy", "tank number": 18, "type": "fish"},
	{"name": "jackie", "species": "lobster", "tank number": 21, "type": "shellfish"},
	{"name": "charlie", "species": "clownfish", "tank number": 12, "type": "fish"},
	{"name": "olly", "species": "green turtle", "tank number": 34, "type": "turtle"}
]

def assign_to_tank(aquarium_creatures, new_tank_number):
	def apply(x):
		x["tank number"] = new_tank_number
		return x
	return map(apply, aquarium_creatures)
 
c = assign_to_tank(aquarium_creatures,999)
print(list(c))

print(list(c))

[{'name': 'sammy', 'species': 'shark', 'tank number': 999, 'type': 'fish'}, {'name': 'ashley', 'species': 'crab', 'tank number': 999, 'type': 'shellfish'}, {'name': 'jo', 'species': 'guppy', 'tank number': 999, 'type': 'fish'}, {'name': 'jackie', 'species': 'lobster', 'tank number': 999, 'type': 'shellfish'}, {'name': 'charlie', 'species': 'clownfish', 'tank number': 999, 'type': 'fish'}, {'name': 'olly', 'species': 'green turtle', 'tank number': 999, 'type': 'turtle'}]
[]

In [ ]:
aquarium_creatures[0]['name']

'sammy'

In [ ]:
aquarium_creatures = [
	{"name": "sammy", "species": "shark", "tank number": 11, "type": "fish"},
	{"name": "ashley", "species": "crab", "tank number": 25, "type": "shellfish"},
	{"name": "jo", "species": "guppy", "tank number": 18, "type": "fish"},
	{"name": "jackie", "species": "lobster", "tank number": 21, "type": "shellfish"},
	{"name": "charlie", "species": "clownfish", "tank number": 12, "type": "fish"},
	{"name": "olly", "species": "green turtle", "tank number": 34, "type": "turtle"}
]
aquarium_creatures[0]["tank number"] = 10000

[{'name': 'sammy', 'species': 'shark', 'tank number': 10000, 'type': 'fish'},
 {'name': 'ashley', 'species': 'crab', 'tank number': 25, 'type': 'shellfish'},
 {'name': 'jo', 'species': 'guppy', 'tank number': 18, 'type': 'fish'},
 {'name': 'jackie',
  'species': 'lobster',
  'tank number': 21,
  'type': 'shellfish'},
 {'name': 'charlie',
  'species': 'clownfish',
  'tank number': 12,
  'type': 'fish'},
 {'name': 'olly',
  'species': 'green turtle',
  'tank number': 34,
  'type': 'turtle'}]

In [ ]:
a = '1 55 78 9'
c = [int(i) for i in a.split(' ')]
d = list(map(int, a.split(' ')))
c, '  ', d

([1, 55, 78, 9], '  ', [1, 55, 78, 9])

In [ ]:
from random import randint
A = [randint(1, 1000) for i in range(5)] 
print(id(A))
B = sorted(A)
A.sort()
print(id(A))
A

140321233740416
140321233740416

[427, 552, 641, 671, 818]

In [ ]:
a = dict()
name = ['sasha','den','ayrat']
num = [1, 2, 3]

for i in range(len(name)):
  a[name[i]]=num[i]
a['den']=9
a

{'sasha': 1, 'den': 9, 'ayrat': 3}

In [ ]:
a = [1,2]
b = [1,2]
print(a==b, ' ', id(a)==id(b))

True   False

In [ ]:
a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
c = zip(a,b)
tt = dict(c)
yy = dict(list(c))
print(tt==yy, ' ', yy)


print(c, ' ', id(c))
print(dict(c), ' ', id(dict(c)))
print(dict(list(c)), ' ', dict(c))
dict(list(c)) == dict(c)

False   {}
<zip object at 0x7f586885ccc0>   140017687448768
{}   140017686902784
{}   {}

True

In [ ]:
a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
c = zip(a,b) #Переменной c присваивается итератор (функция zip возвращает итератор). Итератор может использоваться 1 раз!!!

t = dict(list(c))
y = dict(c)
print(list(c))
print(t, ' ', y)
print(10 in t)
# Если запустить, то уивдим, что после того как переменная c была использована в переменной t для создания словара, значение перемнной c перестало существовать.

[]
{10: 'a', 20: 'b', 30: 'c', 40: 'd'}   {}
True

In [ ]:
a = [60, 20, 30, 40]
b = ['a', 'b', 788, 'e', 'd']
c = zip(a,b)
y = dict(c)
sorted(y.items())

a = [1,2,3]
a.extend([5,6])
a.remove(1)

In [ ]:
a = {1,2}
b = ['a','b']

a, ' ', b

({1, 2}, ' ', ['a', 'b'])

In [ ]:
#Тест классов
class Cloth :
  'Товары в магазине'
  def __init__(self,type,color,price):
    self.type = type
    self.color = color
    self.price = price

  def discount_price(self, disc):
    'Указывается скидочная цена на товар'
    self.price = self.price - (self.price*0.01*disc)
    print(f'Новая цена {self.type} {self.color} равна {self.price}')

bluejeans = Cloth('jeans', 'blue', 4000)
print(bluejeans.price)
bluejeans.discount_price(30)

4000
Новая цена jeans blue равна 2800.0

In [ ]:
shifr = "".join([chr(ord(c) + 1) for c in input()])
kluch = "".join([chr(ord(c) - 1) for c in shifr])
a = ' '
print(shifr)
print(kluch)
print(chr(ord(a)),',',ord(a),'   ',chr(ord(a)+1), ',', ord(a)+1 )

s
t
s
  , 32     ! , 33

In [ ]:
a = [1,2,3,4]
k = [num**2 if num>2 else num+0.5 for num in a]
k

[1.5, 2.5, 9, 16]

In [ ]:
a = [('aa', 45),('vv', 9999)]
print(dict(a)['aa'])
a = [('aa', 8888)]
dict(a)

45

{'aa': 8888}

#PANDAS

In [ ]:
import pandas as pd

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
df = pd.DataFrame({
            "Name": ["Braund, Mr. Owen Harris",
                     "Allen, Mr. William Henry",
                     "Bonnell, Miss. Elizabeth"],
             "Age": [22, 35, 58],
             "Sex": ["male", "male", "female"]}
                )

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
import numpy as np
a = np.ndarray((2,3))

In [ ]:
a

array([[3.6891621e-316, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000]])

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime

In [ ]:
np.random.binomial(1, 0.5,size=10)

array([1, 0, 1, 0, 1, 1, 0, 0, 0, 0])

In [ ]:
pd.Series([0,1]).sample(3, replace=True)

1    1
0    0
1    1
dtype: int64

In [ ]:
from pandas.core.reshape.tile import to_datetime
[elem.to_datetime() for elem in pd.date_range('2022-11-01', periods=4)]

AttributeError: ignored

In [ ]:
pd.date_range('2022-11-01', periods=4)

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04'], dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame([1,2,3,np.nan], columns=['value'], index=pd.date_range('2022-11-01', periods=4))
df = df.reset_index()
df['date'] = pd.to_datetime(df['index'], format="%m/%d/%Y, %H:%M:%S")

In [ ]:
def dt()

In [ ]:
df['date_2'] = df['date'].apply()

       index  value       date
0 2022-11-01    1.0 2022-11-01
1 2022-11-02    2.0 2022-11-02
2 2022-11-03    3.0 2022-11-03
3 2022-11-04    NaN 2022-11-04

In [ ]:
dt = datetime.today()
print(dt)

2023-01-14 07:11:31.110929

#Тестим SQL

Обновляем sqlite3, чтобы появились оконные функции

In [ ]:
!add-apt-repository -y ppa:sergey-dryabzhinsky/packages
!apt update
!apt install sqlite3

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic InRelease [15.4 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,348 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,412 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,568 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [3,145 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,573 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,371 kB]
Get:21 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic/main amd64 Packages [28.9 kB]
Fetched 13.7 MB in 4s (3,383 kB/s)
Reading package lists... Done
Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:5 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
54 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libsqlite3-0 libsqlite3-dev
Suggested packages:
  libsqlite3-0-plugins sqlite3-doc
The following NEW packages will be installed:
  sqlite3
The following packages will be upgraded:
  libsqlite3-0 libsqlite3-dev
2 upgraded, 1 newly installed, 0 to remove and 52 not upgraded.
Need to get 1,285 kB of archives.
After this operation, 672 kB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic/main amd64 libsqlite3-dev amd64 3.40.1-2sergeyd10.7~18.04.1 [673 kB]
Get:2 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic/main amd64 libsqlite3-0 amd64 3.40.1-2sergeyd10.7~18.04.1 [507 kB]
Get:3 http://ppa.launchpad.net/sergey-dryabzhinsky/packages/ubuntu bionic/main amd64 sqlite3 amd64 3.40.1-2sergeyd10.7~18.04.1 [104 kB]
Fetched 1,285 kB in 2s (736 kB/s)
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../libsqlite3-dev_3.40.1-2sergeyd10.7~18.04.1_amd64.deb ...
Unpacking libsqlite3-dev:amd64 (3.40.1-2sergeyd10.7~18.04.1) over (3.22.0-1ubuntu0.7) ...
Preparing to unpack .../libsqlite3-0_3.40.1-2sergeyd10.7~18.04.1_amd64.deb ...
Unpacking libsqlite3-0:amd64 (3.40.1-2sergeyd10.7~18.04.1) over (3.22.0-1ubuntu0.7) ...
Selecting previously unselected package sqlite3.
Preparing to unpack .../sqlite3_3.40.1-2sergeyd10.7~18.04.1_amd64.deb ...
Unpacking sqlite3 (3.40.1-2sergeyd10.7~18.04.1) ...
Setting up libsqlite3-0:amd64 (3.40.1-2sergeyd10.7~18.04.1) ...
Setting up libsqlite3-dev:amd64 (3.40.1-2sergeyd10.7~18.04.1) ...
Setting up sqlite3 (3.40.1-2sergeyd10.7~18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...

In [ ]:
# MENU: Runtime > Restart runtime
import sqlite3
sqlite3.sqlite_version  # '3.38.0'

'3.40.1'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
punkts = pd.Series(['punkt_1','punkt_2']).sample(100, replace=True).values

In [ ]:
num = pd.Series(np.linspace(1,10,10).astype(int)).sample(100,replace=True).values

In [ ]:
sdek = pd.DataFrame({'punkts':punkts, 'goods_num':num})

In [ ]:
sdek

     punkts  goods_num
0   punkt_1          5
1   punkt_2          1
2   punkt_1          8
3   punkt_1          5
4   punkt_1          7
..      ...        ...
95  punkt_2          9
96  punkt_2          8
97  punkt_2          6
98  punkt_1         10
99  punkt_1          4

[100 rows x 2 columns]

In [ ]:
con = sqlite3.connect('db')
cur = con.cursor()

In [ ]:
sdek.to_sql('sdek',con,if_exists='replace',index=False)

In [ ]:
cur.execute('''select * from sdek''')

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

In [ ]:
sql = '''
select * from test
'''
select(sql)

Empty DataFrame
Columns: [a, b]
Index: []

In [ ]:
sql = '''
create table test (a int, b int)
'''

In [ ]:
sql = '''
insert into test
values (1,2), (3,3), (99,56)
'''

In [ ]:
sql='''
select * from test
'''

In [ ]:
select(sql)

DatabaseError: ignored

In [ ]:
sql = '''
with 
vrem1(punkts,goods_num,num) as 
(select *, row_number() over(partition by punkts order by goods_num) as num
from sdek),

vrem2(punkts,goods_num,num,color) as
(select *, case when goods_num=1 then 'red' else 'blue' end as color
from vrem1)

select * from vrem2
'''

In [ ]:
select(sql)

     punkts  goods_num  num color
0   punkt_1          1    1   red
1   punkt_1          1    2   red
2   punkt_1          1    3   red
3   punkt_1          1    4   red
4   punkt_1          2    5  blue
..      ...        ...  ...   ...
95  punkt_2         10   44  blue
96  punkt_2         10   45  blue
97  punkt_2         10   46  blue
98  punkt_2         10   47  blue
99  punkt_2         10   48  blue

[100 rows x 4 columns]

#Задача "Автомобильная заправочная станция"
Посчитать начисления  бонусов клиенту за лояльность по следующим условиям:
- по 50 бонусов начисляем тем клиентам, у которых на протяжении трех месяцев ежемесячное потребление топлива составляло  50 л и более. Бонусы начисляются в последний день третьего месяца.
- Начисления производятся один раз в 3 месяца.
- Первый месяц, в котором возможы начисления бонусов за лояльность - март.

In [ ]:
df = pd.DataFrame({'month': [1,2,3,4,5,6,7,8,9,10,11,12],
                   'gas': [50,50,50,50,50,50,50,50,50,50,50,50]})

In [ ]:
df.to_sql('gas',con,index=False,if_exists='replace')

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

In [ ]:
sql = '''
select * from gas
'''

In [ ]:
select(sql)

    month  gas
0       1   50
1       2   50
2       3   50
3       4   50
4       5   50
5       6   50
6       7   50
7       8   50
8       9   50
9      10   50
10     11   50
11     12   50

In [ ]:
sql = '''
--1)Находим количество топлива, которое было заправлено в прошлом и позапрошлом месяцах.
with 

pred(month, gas, gas_pred_1, gas_pred_2) as 
(
  select *,
  lag(gas,1) over(order by month) as gas_pred_1,
  lag(gas,2) over(order by month) as gas_pred_2

  from gas
),

--2)Создаем стобец "Потенциальный бонус". Если 3 последних месяца клиент заправлял по 50л и больше, то ставим 1, иначе ставим 0.
potential_bonus(month, gas, gas_pred_1, gas_pred_2,potential_bonus) as 
(
  select *, case when gas >=50 and gas_pred_1 >= 50 and gas_pred_2 >= 50 then 1 else 0 end potential_bonus
  from pred
),

--3)Выводим 2 доп столбца, в которых помечено был ли "потенциальный бонус" в прошлом и позапрошлом месяце (1) или нет (0).
potential_bonus_2(month, gas, gas_pred_1, gas_pred_2,potential_bonus, pot_pred_bonus_1, pot_pred_bonus_2) as
(
  select *, 
  lag(potential_bonus,1) over(order by month) as pot_pred_bonus_1,
  lag(potential_bonus,2) over(order by month) as pot_pred_bonus_2
  from potential_bonus
),

--4)
bonus(month, gas, gas_pred_1, gas_pred_2,potential_bonus, pot_pred_bonus_1, pot_pred_bonus_2, bonus) as
(
  select *, case when potential_bonus=1 and pot_pred_bonus_1 !=1 and pot_pred_bonus_2 !=1 then 1 
                else 0 
            end bonus
  from potential_bonus_2
)



select * from bonus
where lag(bonus,1) over(order by month) = 1
'''

In [ ]:
select(sql)

DatabaseError: ignored

In [ ]:
'2021-12-27' - '2022-01-'

In [ ]:
import datetime
datetime.datetime.today().strftime("%d.%b",)

'11.Jan'

In [ ]:
import pandas as pd